


mixin createProduct(product)
    .col
        .card(id="productCard")
            .card-header
                img.card-img-top(src=product.imageUrl, alt=`${product.name}`)
            .card-body
                h4.card-title
                    a(href=`/shop/details/${product.id}` id="title") #{product.name}
                p.card-text(id="desc") #{product.description && product.description.substring(0, 50)}#{product.description && product.description.length > 50 ? '...' : ''}
                small.text-muted
                    i.fa.fa-try(id="price") #{product.price} TL
            .card-footer
                .row
                    .col(id="btns")
                        a.btn.btn-warning.btn-sm(href=`/shop/details/${product.id}`) Details
                        
                        form(action='/shop/cart' method='POST')
                            input(type="hidden" name="_csrf" value=csrfToken)
                            input(type='hidden' name='productId' value=`${product.id}`)
                            button(type='submit').btn.btn-primary.btn-sm.ml-3 Add To Cart

                     
